body {
  margin: 0px;
  padding: 0px;
}

.social {
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.fheading{
  font-size: 20px;
  font-style: oblique;
  text-align: center;
}

#find {
  padding: 5px 50px;
  margin-top: 10px;
  border-radius: 5px;
}

#find:hover {
  transition-duration: 0.05s;
}

#github,
#linkedin {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.row {
  margin-top: 10px !important;
}

.colp {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.accordion-body {
  text-align: left;
}

.btns{
    text-align: center !important;
    padding-bottom: 20px;
}

.formClass {
    margin-left: 70px;
    margin-right: 70px;
}

.error{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.social p{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.made{
    text-align: center;
}